.cell {
    border: 1px solid #fff;
}

.space {
    background-color: #ffffff;
    // transition: .5s;
}

.snake-body {
    background-color: #333333;
}

.food {
    background-color: rgb(163, 207, 28);
}

.path {
    background-color: rgb(207, 180, 28);
}